/* Your Awesome Website */

body {
	background: #58A897;
}


h1 {
	padding: 100px 0 20px 0;
	color: #fff;
	text-align: center;
}

.submit-form {
	background: goldenrod;
}

.submit-form:hover {
	background: #D19915;
}

input {
	padding-top: 5px;
}

label,
label small{
	color: #fff;
}